body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.navbar {
  color: black;
} */

.main {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.content-block {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content-item {
  margin: 20px;
}
.MuiAvatar-root.MuiAvatar-circular.makeStyles-avatar-2.MuiAvatar-colorDefault{
  background-color: #3f51b5;
}
.MuiAvatar-root.MuiAvatar-circular.makeStyles-avatar-2.MuiAvatar-colorDefault:hover{
  background-color: #070e3a;
  transition: 0.5s;
}
